main {
    display: flex;
    text-align: center;
    justify-content: center;
}

h1 {
    padding-bottom: 5rem;
    font-family: sans-serif;
}

.welcome-div {
    padding-top: 5rem;
}


/* In app.css */
.home-page-logo img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-page-logo {
    padding-bottom: 3rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5; /* Light grey background */
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #ffffff; /* White background for the card */
    border: 2px solid #FF5722; /* Primary color border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    flex-basis: calc(33% - 20px); /* Three columns with spacing */
    margin: 10px 0;
    height: 25rem;
}

h6 {
    color: #FF5722; /* Use primary color for headings */
    margin-top: 0;
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px); /* Two columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        flex-basis: 100%; /* Single column on very small screens */
    }
}


.editable-content {
    width: 100%; /* Make textarea full width of the card */
    height: 25rem; /* Set a fixed height */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    resize: none; /* Disable resizing */
    padding: 10px; /* Add some padding inside the textarea */
    font-family: 'Roboto', sans-serif; /* Use the same font as the rest of the page */
    font-size: 1em; /* Set font size */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Inner shadow for some depth */
}

    .editable-content:focus {
        box-shadow: inset 0 0 5px #FF5722; /* Highlight with the primary color when focused */
    }

