main {
    display: flex;
    text-align: center;
    justify-content: center;
}

h1 {
    padding-bottom: 5rem;
    font-family: sans-serif;
}

.welcome-div {
    padding-top: 5rem;
}


/* In app.css */
.home-page-logo img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-page-logo {
    padding-bottom: 3rem;
}
