@page "/"
@using SharedLibrary.Models

<PageTitle>Startside</PageTitle>

<main>
    <div class="welcome-div">
        <div class="home-page-logo">
            <img src="images/Genda Logo.png" alt="Genda Logo" />
        </div>


        <div class="search-div">
            <Editform Model="@SearchModel" onvalidsubmit="@SearchGenstand" formname="searchGenstand">
                <label for="search">søg</label>
                <input id="search" type="search" placeholder="søg på en genstand" autofocus required />
                <button type="submit">søg</button>
                </Editform>
        </div>
    </div>

</main>

@code {
    public SearchModel SearchModel { get; set; }
    public async Task SearchGenstand()
    {
        // var response = await httpClient.PutAsJsonAsync("api/Genstand/Update-Genstand", SearchModel);
        // var genstand = await response.Content.ReadFromJsonAsync<SearchModel>();
        // if (genstand is not null)
        // {
        //     SearchModel = new();
        // }
    }
    // public record SearchModel
    // {
    //     public string SearchInput{ get; set; }
    // }
}