@page "/"
@using SharedLibrary.Models
@* @inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider *@

@inject HttpClient httpClient
@inject NavigationManager NavigationManager


<PageTitle>Startside</PageTitle>

<main>
    <div class="welcome-div">
        <div class="home-page-logo">
            <img src="images/Genda Logo.png" alt="Genda Logo" />
        </div>
    </div>
</main>


@if (Genstands.Count > 0)
{
    <div class="container">
        @foreach (var genstand in Genstands)
        {           
            <div class="card">
                @if (String.IsNullOrEmpty(@genstand.PhotoReference))
                    {
                        <img src="/images/defaultgenstand.png" />
                    
                    } else
                    {
                        <img src="/images/@genstand.PhotoReference" />
                    }
                    <br />
                <h4>@genstand.Name</h4>
                <h6>@genstand.Description</h6>
                @* <button class="btn btn-secondary btn-extra-small" @onclick="() => ViewGenstandDetail(genstand)">View</button> *@
                <button @onclick="() => ViewGenstandDetail(genstand)">View</button>
            </div>
            
        }
        </div>

}

@code{
    private List<Genstand> Genstands { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var genstands = await httpClient.GetAsync("api/Genstand/Get-All-Genstands");
        if (genstands is null) return;

        var returnedGenstands = await genstands.Content.ReadFromJsonAsync<List<Genstand>>();
        if (returnedGenstands is null) return;
        int count = returnedGenstands.Count();
        if (count >= 3)
        {
            Genstands.Add(returnedGenstands[count - 1]);
            Genstands.Add(returnedGenstands[count - 2]);
            Genstands.Add(returnedGenstands[count - 3]);
        } 
        if(count == 2)
        {
            Genstands.Add(returnedGenstands[count - 1]);
            Genstands.Add(returnedGenstands[count - 2]);
        }
        if (count == 1)
        {
            Genstands.Add(returnedGenstands[count - 1]);
        }
    }

    public void ViewGenstandDetail(Genstand genstand)
    {
        NavigationManager.NavigateTo($"/genstands-side/{genstand.Id}");

    }
}