@page "/"
@using SharedLibrary.Models
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Startside</PageTitle>

<main>
    <div class="welcome-div">
        <div class="home-page-logo">
            <img src="images/Genda Logo.png" alt="Genda Logo" />
        </div>
    </div>
</main>


<div class="container">
    <div class="card">
        <h6>Hvem vi er:</h6>
        <textarea @bind="content1" class="editable-content" readonly="@(!isAuthenticated)"></textarea>
    </div>
    <div class="card">
        <h6>Hvad Applikationen går ud på:</h6>
        <textarea @bind="content2" class="editable-content" readonly="@(!isAuthenticated)"></textarea>
    </div>
    <div class="card">
        <h6>Hvorfor vi laver Applikationen:</h6>
        <textarea @bind="content3" class="editable-content" readonly="@(!isAuthenticated)"></textarea>
    </div>
</div>


@code{
    string content1 = "Content goes here...";
    string content2 = "Content goes here...";
    string content3 = "Content goes here...";
    bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuthenticated = user.Identity.IsAuthenticated;
    }
}