@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <NavLink class="home-page-logo" href="/">
        <img src="images/Genda Logo trans.png" alt="Genda Logo" />
    </NavLink>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genstand-search">
                <span class="bi bi-search" aria-hidden="true"></span> Søg Genstande
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genstand-list">
                <span class="bi bi-card-list-nav-menu" aria-hidden="true"></span> Liste af Genstande
            </NavLink>
        </div>   
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-genstand">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tilføj Genstande
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-film">
                <span class="bi bi-camera-reels-fill" aria-hidden="true"></span> Tilføj Film
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="film-list">
                <span class="bi bi-film" aria-hidden="true"></span> Film Liste
            </NavLink>
        </div>

        

        



        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-tools" aria-hidden="true"></span> Indstillinger
            </NavLink>
        </div>


    </nav>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">© 2023 Genda, Nazmul Huq. Sara Engsted Andreasen. Mohammad (Mo) Mansour. All Rights Reserved.</span>
        </div>
    </footer>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

