

.form-container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #fff;
    width: calc(100% - 60px); /* Adjust width based on sidebar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}



.btn-primary {
    text-align: right;
    background-color: #4CAF50;
    color: white;
    margin-top: 2rem;
}
