@page "/add-genstand"
@page "/add-genstand/{Id:int}"
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

@* @attribute [Authorize] *@
@* @attribute [Authorize(Roles = "Admin")] *@


<h3>Tilføj Genstand</h3>
<hr />

<div class="form-container">

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>File</label>
                <InputFile OnChange="OnChooseFile" />
                <p>0KB / 9,500KB</p>
            </div>
            <button type="button" class="btn btn-success btn-block m-1" @onclick="SubmitFileAsync">Upload</button>
        </div>
    </div>

    <EditForm Model="@GenstandModel" OnValidSubmit="@HandleSave" FormName="addGenstand">
        <DataAnnotationsValidator />
        <ValidationSummary />     
        
        <div class="form-group">
            <label class="form-label">Genstands Navn</label>
            <InputText @bind-Value="GenstandModel.Name" class="form-control"></InputText>
            <ValidationMessage For="()=>GenstandModel.Name"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Beskrivelse</label>
            <InputText @bind-Value="GenstandModel.Description" class="form-control"></InputText>
            <ValidationMessage For="()=>GenstandModel.Description"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Billede Id</label>
            <InputText @bind-Value="GenstandModel.PhotoReference" class="form-control"></InputText>
            <ValidationMessage For="()=>GenstandModel.PhotoReference"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Dato for Genstand</label>
            <InputDate @bind-Value="GenstandModel.DateOfGenstand" class="form-control"></InputDate>
            <ValidationMessage For="()=>GenstandModel.DateOfGenstand"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Størrelse</label>
            <InputNumber @bind-Value="GenstandModel.Size" class="form-control"></InputNumber>
            <ValidationMessage For="()=>GenstandModel.Size"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Placering</label>
            <InputText @bind-Value="GenstandModel.Placement" class="form-control"></InputText>
            <ValidationMessage For="()=>GenstandModel.Placement"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Tilstand</label>
            <InputText @bind-Value="GenstandModel.Condition" class="form-control"></InputText>
            <ValidationMessage For="()=>GenstandModel.Condition"></ValidationMessage>
        </div>

        <div class="form-group" id="loan">
            <label class="form-label">Udlånt</label>
            <InputCheckbox @bind-Value="GenstandModel.Loan" class="form-control-loan"></InputCheckbox>
            <ValidationMessage For="()=>GenstandModel.Loan"></ValidationMessage>
        </div>
        
        <div class="form-group">
            <label class="form-label">Film Id</label>
            <InputNumber @bind-Value="GenstandModel.FilmId" class="form-control"></InputNumber>
            <ValidationMessage For="()=> GenstandModel.FilmId"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Lokation Id</label>
            <InputNumber @bind-Value="GenstandModel.LocationId" class="form-control"></InputNumber>
            <ValidationMessage For="()=> GenstandModel.LocationId"></ValidationMessage>
        </div>

        <div class="form-group">
            <label class="form-label">Kategory Id</label>
            <InputNumber @bind-Value="GenstandModel.CategoryId" class="form-control"></InputNumber>
            <ValidationMessage For="()=> GenstandModel.CategoryId"></ValidationMessage>
        </div>
        
        <button type="submit" class="btn btn-primary">Gem</button>
    </EditForm>
</div>
@code {
    //[SupplyParameterFromForm]
    public GenstandDto GenstandModel { get; set; } = new();
    [Parameter] public int Id { get; set; }
    public GenstandDto GenstandReturn = new();
    public Film FilmReturn = new();
    private string saveSuccessMessage;

    private Stream _fileStream = null;
    private string _selectedFileName = null;
    private IBrowserFile? _selectedFile = null;
    private long _uploaded = 0;
    private double _percentage = 0;

    private async Task HandleSave()
    {

        // if edititing then genstand has a ID
        if (GenstandModel.Id > 0)
        {

            var response = await httpClient.PutAsJsonAsync("api/Genstand/Update-Genstand", GenstandModel);
            var genstand = await response.Content.ReadFromJsonAsync<Genstand>();
            if (response.IsSuccessStatusCode)
            {
                GenstandModel = new();
                saveSuccessMessage = "Gensstands data updateret successfuldt!";
                NavigationManager.NavigateTo("genstand-list");
            }
            else
            {
                saveSuccessMessage = "Fejl med at updatere genstands data.";
            }

        }
        else // add a new genstand
        {
            var response = await httpClient.PostAsJsonAsync("api/Genstand/Add-Genstand", GenstandModel);
            if (response.IsSuccessStatusCode)
            {
                GenstandReturn = await response.Content.ReadFromJsonAsync<GenstandDto>();
                GenstandModel = new();
                saveSuccessMessage = "Genstand indsat successfuldt!";
                RedirectToGenstandListPage(); // redirect to genstand list page

            }
            else
            {
                saveSuccessMessage = "Fejl i a indsætte Genstand";
            }

        }

    }

    public void RedirectToGenstandListPage()
    {
        NavigationManager.NavigateTo("genstand-list");
    }

    // after choosing file set it to a variable
    public void OnChooseFile(InputFileChangeEventArgs e)
    {
        // Get the selected file
        _selectedFile = e.File;

        // Check if the file is null then return from the method
        if (_selectedFile == null)
            return;
    }

    // submit a file i.e. an image to the controller
    public async Task SubmitFileAsync()
    {
        long maxFileSize = 1024 * 15;

        if (_selectedFile == null)
            return;

        using var content = new MultipartFormDataContent();

        try
        {

            var fileContent =
                new StreamContent(_selectedFile.OpenReadStream(maxFileSize));

            fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(_selectedFile.ContentType);

            content.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: _selectedFile.Name);

            //upload = true;

        } catch(Exception ex)
        {

        }
        var response = await httpClient.PostAsync("api/Genstand/Add-Image", content);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("ok");
        }
    }

    // in case of editing genstand
    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            var response = await httpClient.GetAsync($"api/Genstand/Single-Genstand/{Id}");
            GenstandReturn = await response.Content.ReadFromJsonAsync<GenstandDto>();
            GenstandModel.Id = GenstandReturn.Id;
            GenstandModel.Name= GenstandReturn.Name;
            GenstandModel.Description = GenstandReturn.Description;
            GenstandModel.PhotoReference = GenstandReturn.PhotoReference;
            GenstandModel.DateOfGenstand = GenstandReturn.DateOfGenstand;
            GenstandModel.Size = GenstandReturn.Size;
            GenstandModel.Placement = GenstandReturn.Placement;
            GenstandModel.Condition = GenstandReturn.Condition;
            GenstandModel.Loan = GenstandReturn.Loan;
            GenstandModel.FilmId = GenstandReturn.Id;
           GenstandModel.LocationId = GenstandReturn.Id;
            GenstandModel.CategoryId = GenstandReturn.Id;
        }
    }


     
    
    
}
