@page "/genstand-list"
@rendermode InteractiveAuto

<h3>Liste af Genstande</h3>
<hr />

 <div class="container">
    @if (Genstands.Count > 0)
    {
       
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Navn></th>
                        <th>Beskrivelse</th>
                        <th></th>
        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var genstand in Genstands)
                    {
                        <tr>
                            <td>@genstand.Id</td>
                            <td>@genstand.Name</td>
                            <td>@genstand.Description</td>
                            <td class="btn-td">
                                <div class="hstack gap-3">
                                    <button class="btn  btn-info btn-extra-small" @onclick="()=>EditGenstand(genstand)"> Edit</button>
                                    <button class="btn  btn-danger btn-extra-small" @onclick="() => DeleteGenstand(genstand)">Delete</button>
                                    <button class="btn btn-secondary btn-extra-small" @onclick="() => ViewGenstand(genstand)">View</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info"> Ingen Genstand Fundet </div>
    } 
    </div>



@code {
    private List<Genstand> Genstands { get; set; } = new ();
    private string currentHeading = "Initial heading";
    private string? newHeading;
    private async Task GetAllGenstandAsync()
    {
        var genstands = await httpClient.GetAsync("api/Genstand/Get-All-Genstands");
        if (genstands is null) return;

        var returnedGenstands = await genstands.Content.ReadFromJsonAsync<List<Genstand>>();
        if (returnedGenstands is null) return;

        returnedGenstands.ForEach(g => Genstands.Add(g));
    }
    protected override async Task OnInitializedAsync()
    {
        await GetAllGenstandAsync();
    }


    private void EditGenstand(Genstand genstand)
    {
        NavigationManager.NavigateTo($"add-genstand/{genstand.Id}");
    }

    private async Task DeleteGenstand(Genstand genstand)
    {
        if (!await IJSRuntime.InvokeAsync<bool>("confirm", $"Er du sikker på at du vill slette\n Id:  {genstand.Id} \n Name: {genstand.Name} \n Description: {genstand.Description}"))
            return;
        var genstandToDelete = await httpClient.DeleteAsync($"api/Genstand/Delete-Genstand/{genstand.Id}");
        var response = await genstandToDelete.Content.ReadFromJsonAsync<Genstand>();
        Genstands?.Clear();
        await GetAllGenstandAsync();
        //return response!;
    }

    private void ViewGenstand(Genstand genstand)
    {
        NavigationManager.NavigateTo($"/genstands-side/{genstand.Id}");

    }
}
