.card-body {
    padding: 1rem;
}

@media (max-width: 768px) {
    .card-body {
        padding: 0.5rem;
    }


    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}



.container {
    min-height: 100vh;
}

.btn-extra-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.2rem;
}

.btn-td {
    width: 2rem;
}

.table td {
    padding: 8px;
}
