@page "/settings"

<PageTitle>Instillinger</PageTitle>



<div class="container mt-3">
    <h3>Instillinger</h3>
    <div class="form-group">
        <label for="themeSelector">Tema</label>
        <select id="themeSelector" class="form-control" @onchange="ChangeTheme">
            <option value="system">System Default</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
    </div>

</div>

@code {
    private string currentheme = "";

    private void ChangeTheme(ChangeEventArgs e)
    {
        currentheme = e.Value.ToString();
        ApplyTheme(currentheme);
    }

    private void ApplyTheme(string theme)
    {

        var cssClass = theme switch
        {
            "light" => "light-theme",
            "dark" => "dark-theme",
            _ => "",
        };



    }
}